body {
    background-color: #2e2e2e;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.section_btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.button {
  align-items: center;
  background-color: #d1d1d1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(-1px);
  background-color: #FFFFFF;
}

.section_url {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    flex-wrap: nowrap;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    align-content: center;
}

.url, .canceled {
    list-style: none;
    margin: 5px 0;

}

.url {
    color:#FFFFFF;
}

.url::before {
    content: "➡️ ";
}

.canceled {
    color:#706f6f;
}

.canceled::before {
    content: "💀 ";
}

.ok {
    color: #32de84;
    list-style: none;
}

.ok::before {
    content: "✅ ";
}

.erro {
    color: red;
}

.erro::before {
    content: "❌ ";
}