.url {
    list-style: none;
}

.url::before {
    content: "➡️ ";
}

.ok {
    color: #32de84;
    list-style: none;
}

.ok::before {
    content: "✅ ";
}

.erro {
    color: red;
}

.erro::before {
    content: "❌ ";
}